/*======================
ROOT VARIABLES
=========================*/
:root {
    --color-light:#B1C7D4;
    --color-secondary:#849AAD;
    --color-tan:#A1947F;
    --color-dark:#605246;
    --color-accent:#5E1C23;
    
    --max-width: 1200px;

    --shadow:
    0 4px 15px rgba(0,0,0,0.08);

    --radius: 10px;
}


